/* Estilos personalizados adicionales si son necesarios */

/* Ocultar scrollbar manteniendo funcionalidad */
.scrollbar-hide {
  /* Firefox */
  scrollbar-width: none;
  /* Safari and Chrome */
  -ms-overflow-style: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}